Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Editor.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/LICENSE.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/LICENSE.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/package.json
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/package.json.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Plugins.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/README.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/README.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/ThirdPartyNotices.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/ThirdPartyNotices.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Editor/AsaPreProcessBuildForAndroid.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Editor/AsaPreProcessBuildForAndroid.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Editor/AzureSpatialAnchors.SDK.Android.Editor.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Editor/AzureSpatialAnchors.SDK.Android.Editor.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Plugins/spatialanchors_ndk.aar
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Plugins/spatialanchors_ndk.aar.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AndroidHelper.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AndroidHelper.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AzureSpatialAnchors.SDK.Android.Runtime.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AzureSpatialAnchors.SDK.Android.Runtime.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AzureSpatialAnchorsBridge_Android.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.android-2.8.1/Runtime/AzureSpatialAnchorsBridge_Android.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/LICENSE.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/LICENSE.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/package.json
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/package.json.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/ThirdPartyNotices.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/ThirdPartyNotices.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/AzureSpatialAnchors.SDK.Core.Editor.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/AzureSpatialAnchors.SDK.Core.Editor.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/SpatialAnchorAuthEditor.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/SpatialAnchorAuthEditor.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/SpatialAnchorConfigInitializer.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Editor/SpatialAnchorConfigInitializer.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/AzureSpatialAnchors.SDK.Core.Runtime.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/AzureSpatialAnchors.SDK.Core.Runtime.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/ARFoundation.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/Standalone.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/ARFoundation/AnchorHelpers.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/ARFoundation/AnchorHelpers.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/ARFoundation/UnityARFoundationAnchorComponent.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/ARFoundation/UnityARFoundationAnchorComponent.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/Standalone/AzureSpatialAnchorsBridge_Standalone.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Plugins/Standalone/AzureSpatialAnchorsBridge_Standalone.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/CloudNativeAnchor.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/CloudNativeAnchor.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorConfig.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorConfig.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorExtensions.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorExtensions.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorManager.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/SpatialAnchorManager.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/UnityDispatcher.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.core-2.8.1/Runtime/Scripts/UnityDispatcher.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Editor.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/LICENSE.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/LICENSE.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/package.json
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/package.json.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/README.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/README.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/ThirdPartyNotices.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/ThirdPartyNotices.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Editor/AsaPostProcessBuildForIOs.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Editor/AsaPostProcessBuildForIOs.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Editor/AzureSpatialAnchors.SDK.iOS.Editor.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Editor/AzureSpatialAnchors.SDK.iOS.Editor.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/CoarseReloc.framework.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/AzureSpatialAnchors
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/AzureSpatialAnchors.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Headers.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Info.plist
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Info.plist.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Modules.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Headers/AzureSpatialAnchors.h
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Headers/AzureSpatialAnchors.h.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Headers/AzureSpatialAnchorsLibrary.h
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Headers/AzureSpatialAnchorsLibrary.h.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Modules/module.modulemap
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/AzureSpatialAnchors.framework/Modules/module.modulemap.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/CoarseReloc.framework/CoarseReloc
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/CoarseReloc.framework/CoarseReloc.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/CoarseReloc.framework/Info.plist
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Plugins/iOS/CoarseReloc.framework/Info.plist.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/ARKitHelpers.mm
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/ARKitHelpers.mm.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/ARKitNativeHelpers.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/ARKitNativeHelpers.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/AzureSpatialAnchors.SDK.iOS.Runtime.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/AzureSpatialAnchors.SDK.iOS.Runtime.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/AzureSpatialAnchorsBridge_iOS.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.ios-2.8.1/Runtime/AzureSpatialAnchorsBridge_iOS.cs.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/.DS_Store
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/LICENSE.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/LICENSE.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/package.json
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/package.json.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/README.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/README.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Runtime.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/ThirdPartyNotices.md
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/ThirdPartyNotices.md.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/.DS_Store
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM64.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x64.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x86.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM/AzureSpatialAnchors.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM/AzureSpatialAnchors.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM/CoarseRelocUW.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM/CoarseRelocUW.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM64/AzureSpatialAnchors.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM64/AzureSpatialAnchors.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM64/CoarseRelocUW.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/ARM64/CoarseRelocUW.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x64/AzureSpatialAnchors.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x64/AzureSpatialAnchors.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x64/CoarseRelocUW.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x64/CoarseRelocUW.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x86/AzureSpatialAnchors.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x86/AzureSpatialAnchors.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x86/CoarseRelocUW.dll
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Plugins/x86/CoarseRelocUW.dll.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Runtime/AzureSpatialAnchors.SDK.Windows.Runtime.asmdef
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Runtime/AzureSpatialAnchors.SDK.Windows.Runtime.asmdef.meta
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Runtime/AzureSpatialAnchorsBridge_Windows.cs
Unity/UPM/com.microsoft.azure.spatial-anchors-sdk.windows-2.8.1/Runtime/AzureSpatialAnchorsBridge_Windows.cs.meta
Unity/UserSettings/EditorUserSettings.asset
